:root {
    --instagram1: #7f37c9;
    --instagram2: #ff2992;
    --instagram3: #ff9807;
    --spotify1: #1db954;
    --spotify2: #191414;
    --cor1: #fff;
    --hover: gold;
}

.band-header {
    display: grid;
    grid-template-columns: 49.75% 49.75%;
    max-width: 402px;
    width: 100%;
}

.spotify-div,
.instagram-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-div {
    max-width: 200px;
    width: 100%;
    background: linear-gradient(var(--instagram1), var(--instagram2), var(--instagram3));
    display: flex;
    justify-content: space-evenly;
}

.spotify-div {
    max-width: 200px;
    width: 100%;
    background-color: var(--spotify1);
    display: flex;
    justify-content: space-evenly;

}

#instagram {
    text-decoration: none;
    color: var(--cor1);
}

#spotify {
    text-decoration: none;
    color: var(--spotify2);
}

#instagram i {
    color: var(--cor1);
}


#spotify i {
    color: var(--spotify2);
}

#instagram:hover,
#spotify:hover,
#instagram i:hover,
#spotify i:hover,
.about a:hover {
    color: var(--hover);
}

#img1,
#img2,
#img3 {
    width: 400px;
    height: 400px;
}

#countryIcon{
    width: 30px;
}

.title-card-1,
.title-card-2,
.title-card-3 {
    display: flex;
    justify-content: center;
    align-items: start;
}

.title-card-1 h2,
.title-card-2 h2,
.title-card-3 h2 {
    font-size: 22px;
    padding-right: 10px;
}

.subtitle-card-1 h3,
.subtitle-card-2 h3,
.subtitle-card-3 h3 {
    font-size: 16px;
}

#card {
    padding-bottom: 30px;
}


.about {
    height: 300px;
    margin: 10px;
}

footer{
    text-align: center;
}
